.header{
    display: flex;
    width: 1500px;
    height: 88px;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2);    
    align-items: center;
    justify-content: flex-start;
    
    img{
        margin-left: 16.3125rem;
    }
}

@media (max-width: 24.375rem){
    .header{
        width: 390px;
        height: 4.3125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
}